<div class="content">
  <a routerLink="/">
    <h1>Moreloja</h1>
  </a>

  <nav>
    <ul>
      <li>
        <a
          routerLink="/"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          >Home</a
        >
      </li>
      <li><a routerLink="/songs" routerLinkActive="active">Last Songs</a></li>
      <li>
        <a routerLink="/top-songs" routerLinkActive="active">Top Songs</a>
      </li>
      <li><a routerLink="/artists" routerLinkActive="active">Artists</a></li>
      <li><a routerLink="/albums" routerLinkActive="active">Albums</a></li>
    </ul>
  </nav>

  <div>
    <router-outlet></router-outlet>
  </div>
</div>
