<div class="content">
  <a routerLink="/">
    <h1>Moreloja</h1>
  </a>

  <nav>
    <ul>
      <li>
        <a
          routerLink="/"
          routerLinkActive="router-link-active"
          [routerLinkActiveOptions]="{ exact: true }"
          >Home</a
        >
      </li>
      <li>
        <a routerLink="/songs" routerLinkActive="router-link-active"
          >Last Songs</a
        >
      </li>
      <li>
        <a routerLink="/top-songs" routerLinkActive="router-link-active"
          >Top Songs</a
        >
      </li>
      <li>
        <a routerLink="/artists" routerLinkActive="router-link-active"
          >Artists</a
        >
      </li>
      <li>
        <a routerLink="/albums" routerLinkActive="router-link-active">Albums</a>
      </li>
      <li>
        <a routerLink="/search" routerLinkActive="router-link-active">Search</a>
      </li>
      <li>
        <a routerLink="/settings" routerLinkActive="router-link-active"
          >Settings</a
        >
      </li>
      <li>
        <a routerLink="/about" routerLinkActive="router-link-active">About</a>
      </li>
    </ul>
  </nav>

  <div>
    <router-outlet></router-outlet>
  </div>
</div>
