<h2>Search</h2>

<input id="search" name="search" type="text" [formControl]="searchControl" />

@if (searchResult$ | async; as searchResult) {
<div>
  @if (searchResult.Albums.length) {
  <h3>Albums</h3>
  }
  <moreloja-albums-container
    [albums]="searchResult.Albums"
  ></moreloja-albums-container>
  @if (searchResult.Artists.length) {
  <h3>Artists</h3>
  } @for (artist of searchResult.artistsForList; track artist) {
  <div class="list-container">
    <moreloja-album-cover-card
      [viewModel]="artist"
      [size]="50"
    ></moreloja-album-cover-card>
    <a routerLink="/artist/{{ artist.mbidArtist }}">{{ artist.name }}</a>
  </div>
  } @if (searchResult.Songs.length) {
  <h3>Songs</h3>
  } @for (song of searchResult.songsForList; track song) {
  <div class="list-container">
    <moreloja-album-cover-card
      [viewModel]="song"
      [size]="25"
      [linkToAlbum]="true"
    ></moreloja-album-cover-card>
    <a routerLink="/song/{{ song.mbidTrack }}/page/1">{{ song.name }}</a>
  </div>
  }
</div>
}
