<div *ngIf="album$ | async as album">
  <div class="artist-title">
    <a routerLink="/artist/{{ album.artistMbid }}">{{ album.artistName }}</a>
  </div>

  <div class="album-title">
    <h2>{{ album.name }}</h2>
    <div>
      <a href="https://musicbrainz.org/release/{{ mbidAlbum }}" target="_blank">
        <img
          src="https://musicbrainz.org/static/images/favicons/favicon-32x32.png"
        />
      </a>
    </div>
  </div>

  <moreloja-editable-image [mbidAlbum]="mbidAlbum"></moreloja-editable-image>

  <div>
    <h3>Album Songs</h3>
    <div>
      <div *ngFor="let song of album.topSongs">
        <moreloja-top-song-card
          [topSong]="song"
          [maxPlayCount]="album.topSongs[0].playCount"
        ></moreloja-top-song-card>
      </div>
    </div>
  </div>

  <h3>Last Songs</h3>

  <div *ngFor="let song of album.songs">
    <moreloja-song-card [song]="song"></moreloja-song-card>
  </div>
</div>
