button {
  display: inline-block;
  padding: 5px 14px;
  border: 1px solid #ddd;
  border-radius: 2px;
}

.pagination {
  display: flex;
  align-items: center;
}

.page {
  margin-left: 1rem;
  margin-right: 1rem;
}
