@if (isLoggedIn() === false) {
<h2>Login</h2>
<div class="main-container">
  <label for="password">Password</label>
  <input
    id="password"
    name="password"
    type="password"
    [formControl]="passwordControl"
  />
  <label for="twoFactorToken">Two Factor Token</label>
  <input
    id="twoFactorToken"
    name="twoFactorToken"
    type="text"
    [formControl]="twoFactorTokenControl"
  />
  <button (click)="login()">Login</button>
  @if (error$ | async; as error) {
  <div class="error-hint">
    {{ error }}
  </div>
  }
</div>
} @else {
<h2>Logout</h2>
<div class="main-container">
  <div>You are logged in.</div>
  <button (click)="logout()">Logout</button>
  @if (error$ | async; as error) {
  <div class="error-hint">
    {{ error }}
  </div>
  }
</div>
}
