<h2>Albums</h2>

<div class="main-container">
  <ng-container *ngIf="order$ | async as order">
    <ng-container *ngIf="sortBy$ | async as sortBy">
      <moreloja-range-selection
        pagePath="albums"
        [sortBy]="sortBy"
        [order]="order"
      ></moreloja-range-selection>
    </ng-container>
  </ng-container>

  <div>
    <ng-container *ngIf="range$ | async as range">
      <ng-container *ngIf="order$ | async as order">
        <span *ngFor="let sort of sortings">
          <a
            routerLink="/albums/{{ range }}/sort/{{ sort.sort }}/{{
              order
            }}/page/1"
            routerLinkActive="active"
            >{{ sort.label }}</a
          >
          |
        </span>
      </ng-container>
      <ng-container *ngIf="sortBy$ | async as sortBy">
        <span *ngFor="let ordering of orderings; last as last">
          <a
            routerLink="/albums/{{ range }}/sort/{{ sortBy }}/{{
              ordering.order
            }}/page/1"
            routerLinkActive="active"
            >{{ ordering.label }}</a
          >
          <ng-container *ngIf="!last"> | </ng-container>
        </span>
      </ng-container>
    </ng-container>
  </div>

  <moreloja-pagination
    *ngIf="page$ | async as page"
    [page]="page"
    (pageChange)="onPageChange($event)"
  ></moreloja-pagination>

  <div *ngIf="albums$ | async as albums">
    <moreloja-albums-container [albums]="albums"></moreloja-albums-container>
  </div>

  <moreloja-pagination
    *ngIf="page$ | async as page"
    [page]="page"
    (pageChange)="onPageChange($event)"
  ></moreloja-pagination>
</div>
