<h2>Albums</h2>

<div class="main-container">
  <moreloja-range-selection
    pagePath="albums"
    [sortBy]="sortBy()"
    [order]="order()"
  ></moreloja-range-selection>

  <div>
    @for (sort of sortings; track sort) {
      <span>
        <a
          routerLink="/albums/{{ range() }}/sort/{{ sort.sort }}/{{
            order()
          }}/page/1"
          routerLinkActive="router-link-active"
          >{{ sort.label }}</a
        >
        |
      </span>
    }
    @for (ordering of orderings; track ordering; let last = $last) {
      <span>
        <a
          routerLink="/albums/{{ range() }}/sort/{{ sortBy() }}/{{
            ordering.order
          }}/page/1"
          routerLinkActive="router-link-active"
          >{{ ordering.label }}</a
        >
        @if (!last) {
          |
        }
      </span>
    }
  </div>

  <moreloja-range-display [range]="range()"></moreloja-range-display>

  <moreloja-pagination
    [page]="page()"
    [totalPages]="totalPages.value()"
    (pageChange)="onPageChange($event)"
  ></moreloja-pagination>

  <div>
    <moreloja-albums-container
      [albums]="albums.value()"
    ></moreloja-albums-container>
  </div>

  <moreloja-pagination
    [page]="page()"
    [totalPages]="totalPages.value()"
    (pageChange)="onPageChange($event)"
  ></moreloja-pagination>
</div>
