<h2>Artists</h2>

<div class="main-container">
  <moreloja-range-selection pagePath="artists"></moreloja-range-selection>

  <moreloja-range-display [range]="range()"></moreloja-range-display>

  <moreloja-pagination
    [page]="page()"
    (pageChange)="onPageChange($event)"
  ></moreloja-pagination>

  <div class="artist-container">
    @for (artist of artists.value(); track artist.mbidArtist) {
    <a routerLink="/artist/{{ artist.mbidArtist }}">
      {{ artist.name }}
    </a>
    <div>
      {{ artist.playCount }}
    </div>
    <div>
      {{ artist.playTime | secondsToString }}
    </div>
    <div
      class="play-count-bar-fill"
      [style.width]="
        getPlayCountBarWidth(artist.playTime, artists.value()[0].playTime)
      "
    ></div>
    }
  </div>

  <moreloja-pagination
    [page]="page()"
    (pageChange)="onPageChange($event)"
  ></moreloja-pagination>
</div>
