<div *ngIf="artist$ | async as artist">
  <h2>{{ artist.name }}</h2>

  <div>
    <h3>Albums</h3>
    <div class="album-container">
      <div *ngFor="let album of artist.albums">
        <moreloja-album-card [album]="album"></moreloja-album-card>
      </div>
    </div>
  </div>

  <div>
    <h3>Top Songs</h3>
    <div>TODO</div>
  </div>

  <div>
    <h3>Last Songs</h3>
    <div *ngFor="let song of artist.songs">
      <moreloja-song-card [song]="song"></moreloja-song-card>
    </div>
  </div>
</div>
