<div>
  <div class="artist-title">
    <h2>{{ artist.value().name }}</h2>
    <div>
      <a
        href="https://musicbrainz.org/artist/{{ mbidAlbumArtist }}"
        target="_blank"
      >
        <img
          src="https://musicbrainz.org/static/images/favicons/favicon-32x32.png"
        />
      </a>
    </div>
    <moreloja-artist-top-weeks
      [artistTopWeeks]="artist.value().artistTopWeeks"
    ></moreloja-artist-top-weeks>
  </div>
  <moreloja-editable-image
    [mbidArtist]="mbidAlbumArtistSignal()"
    [size]="400"
  ></moreloja-editable-image>
  @if (artist.value().albums.length) {
  <div>
    <h3>Albums</h3>
    <div class="album-container">
      @for (album of artist.value().albums; track album) {
      <div>
        <moreloja-album-card [album]="album"></moreloja-album-card>
      </div>
      }
    </div>
  </div>
  } @if (artist.value().appearsOnAlbums.length) {
  <div>
    <h3>Appears on</h3>
    <div class="album-container">
      @for (album of artist.value().appearsOnAlbums; track album) {
      <div>
        <moreloja-album-card [album]="album"></moreloja-album-card>
      </div>
      }
    </div>
  </div>
  }
  <div>
    <h3>Top Songs</h3>
    <div>
      @for (song of artist.value().topSongs; track song) {
      <div>
        <moreloja-top-song-card
          [topSong]="song"
          [maxPlayCount]="artist.value().topSongs[0].playCount"
        ></moreloja-top-song-card>
      </div>
      }
    </div>
  </div>
  <div>
    <a routerLink="/songs/artist/{{ mbidAlbumArtistSignal() }}/page/1">
      <h3>Last Songs</h3>
    </a>
    @for (song of artist.value().songs; track song) {
    <div>
      <moreloja-song-card [song]="song"></moreloja-song-card>
    </div>
    }
  </div>
</div>
