<h2>Top Songs</h2>

<div class="main-container">
  <moreloja-range-selection pagePath="top-songs"></moreloja-range-selection>

  <moreloja-range-display [range]="range()"></moreloja-range-display>

  <moreloja-pagination
    [page]="page()"
    [totalPages]="totalPages.value()"
    (pageChange)="onPageChange($event)"
  ></moreloja-pagination>

  <div>
    @for (song of songs.value().topSongs; track song) {
      <div>
        <moreloja-top-song-card
          [topSong]="song"
          [maxPlayCount]="songs.value().topSongs[0].playCount"
        ></moreloja-top-song-card>
      </div>
    }
  </div>

  <moreloja-pagination
    [page]="page()"
    [totalPages]="totalPages.value()"
    (pageChange)="onPageChange($event)"
  ></moreloja-pagination>
</div>
