.main-container {
  display: flex;
  align-items: center;
  gap: 1rem;
  border-width: 1px;
  border-style: solid;
}

@media (prefers-color-scheme: dark) {
  .main-container {
    border-color: var(--background-color-brighter);
  }
}

@media (prefers-color-scheme: light) {
  .main-container {
    border-color: var(--light-background-color-brighter);
  }
}

.cover-container {
  display: flex;
}

.cover-image {
  height: 100%;
}

.info-container {
  flex: auto;
}

.song-runtime-container {
  display: flex;
}

.song-runtime-container > div > a {
  font-weight: bold;
}

.runtime {
  margin-left: 0.5rem;
  color: darkgrey;
}
