.song-card-container {
  display: flex;
  align-items: center;
  gap: 1rem;
  border-width: 1px;
  border-style: solid;
  border-color: light-dark(
    var(--light-background-color-brighter),
    var(--background-color-brighter)
  );
}

.info-container {
  flex: auto;
}

.song-runtime-container {
  display: flex;
}

.song-runtime-container > div > a {
  font-weight: bold;
}

.runtime {
  margin-left: 0.5rem;
  color: darkgrey;
}
