<div class="main-container">
  <div class="cover-container">
    <img class="cover-image" src="{{ coverUrl }}" />
  </div>

  <div class="info-container">
    <div class="song-runtime-container">
      <div>
        <!-- <a routerLink="/song/{{ song.TODOMusicbrainzId }}</a> -->
        <a
          routerLink="/song/{{ song.Artist }}/{{ song.Album }}/{{ song.Name }}"
          >{{ song.Name }}</a
        >
      </div>
      <div class="runtime">
        {{ song.run_time * 1000 | date:'mm:ss' }}
      </div>
    </div>
    <div>
      {{ song.Album }}
    </div>
    <div>
      <a routerLink="/artist/{{ song.Provider_musicbrainzalbumartist }}">{{ song.Artist }}</a>
    </div>
  </div>

  <div class="timestamp-container">
    <div title="{{ song.timestamp | date : 'short' }}">
      {{ song.timestamp | stringToDate | timeAgo }}
    </div>
  </div>
</div>
