.main-container {
  display: flex;
  align-items: center;
  gap: 1rem;
  border: 1px solid #eee;
}

.cover-container {
  display: flex;
}

.cover-image {
  height: 100%;
}

.info-container {
  flex: auto;
}

.song-runtime-container {
  display: flex;
}

.runtime {
  margin-left: 0.5rem;
  color: darkgrey;
}
