<div>
  @for (range of ranges; track range; let last = $last) {
  <span>
    @if (sortBy && order) {
    <a
      routerLink="/{{ pagePath }}/{{ range.range }}/sort/{{ sortBy }}/{{
        order
      }}/page/1"
      routerLinkActive="router-link-active"
      >{{ range.label }}</a
    >
    } @if (!sortBy && !order) {
    <a
      routerLink="/{{ pagePath }}/{{ range.range }}/page/1"
      routerLinkActive="router-link-active"
      >{{ range.label }}</a
    >
    } @if (!last) { | }
  </span>
  }
</div>
