<h2>{{ songDetails.value().songName }}</h2>

<moreloja-statistics-display [stats]="stats()"></moreloja-statistics-display>

<moreloja-pagination
  [page]="page()"
  [totalPages]="totalPages.value()"
  (pageChange)="onPageChange($event)"
/>

<div>
  @for (song of songDetails.value().songs; track song) {
    <div>
      <moreloja-song-card [song]="song"></moreloja-song-card>
    </div>
  }
</div>

<moreloja-pagination
  [page]="page()"
  [totalPages]="totalPages.value()"
  (pageChange)="onPageChange($event)"
/>
