.main-container {
  display: grid;
  grid-template-columns: auto 1fr 2fr;
  gap: 1rem;
  align-items: center;
}

.play-count-bar-container {
  display: flex;
}

.play-count-bar {
  flex: auto;
  margin-left: 5px;
}

.play-count-bar-fill {
  height: 100%;
  background-color: var(--background-color-button);
}
