<div class="top-song-card-container">
  <moreloja-album-cover-card
    [viewModel]="getAlbumCoverCardViewModel()"
    [size]="25"
    [linkToAlbum]="true"
  ></moreloja-album-cover-card>

  <a routerLink="/song/{{ topSong.Provider_musicbrainztrack }}/page/1">{{
    topSong.Name
  }}</a>

  <div class="play-count-bar-container">
    <div>
      {{ topSong.playCount }}
    </div>

    <div class="play-count-bar">
      <div
        class="play-count-bar-fill"
        [style.width]="getPlayCountBarWidth(topSong.playCount)"
      ></div>
    </div>
  </div>
</div>
